/* CDNで読み込んだgoogleフォント */
.font-coda-caption {
    font-family: 'Coda Caption', sans-serif;
}
/* バックグラウンドカラーのベースカラー*/
.bg-color-blue-std {
    background-color:#18bc9c;
}
.font-nikukyu { font-family: "Nikukyu"; }
.font-nicomoji { font-family: "Nico Moji"; }
.font-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }