/* CDNで読み込んだgoogleフォント */
.font-coda-caption {
    font-family: 'Coda Caption', sans-serif;
}
/* バックグラウンドカラーのベースカラー*/
.bg-color-blue-std {
    background-color:#18bc9c;
}
/* aタグのテキスト消し用 */
.a-decorate-none {
    text-decoration:none;
}